log_level: 2

colmap:
  camera_model: "SIMPLE_RADIAL"
  single_camera: false
  use_gpu: true
  gpu_index: 0

sift:
  extraction_use_gpu: true
  matching_use_gpu: true
  max_num_features: 8192
  peak_threshold: 0.006
  edge_threshold: 10

sequential_matcher:
  overlap: 40
  loop_detection: true

mapper:
  min_num_matches: 12
  init_min_num_inliers: 50
  ba_refine_focal_length: true
  ba_refine_principal_point: false
  ba_refine_extra_params: false
  multiple_models: true
  ba_global_function_tolerance: 1.0e-6


sift_matching:
  max_ratio: 0.8
  cross_check: true
  guided_matching: true

